<div class="mx-auto">
  <section class="container px-0 px-lg-3 mb-5 wow animate__zoomIn mt-5">
    <div class="single-item">
      <div class="slide d-flex align-items-center" style="background-image: url('../../../assets/images/bg1.png')">
        <div class="ps-5 ms-md-5">
          <h1 class="mb-5">Скидки на травянные чаи</h1>
          <p class="mb-5 fs-5">Узнай все подробности</p>
          <p><a class="btn btn-lg btn-primary px-5" routerLink="/products">Каталог</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="container pb-5">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <h2 class="h2 text-center mb-4">Ответы на часто задаваемые вопросы</h2>
      <div id="accordion-resizer" class="ui-widget-content mx-auto border-0">

        <ngb-accordion #acc="ngbAccordion" (panelChange)="beforeChange($event)" [activeIds]="'panelId'">
          <ngb-panel title="Собираете ли вы подарочные боксы?"  id="panelId">
            <ng-template ngbPanelContent>
              Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Сколько у вас разновидностей чая?">
            <ng-template ngbPanelContent>
              <p class="ps-3">
                Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                suscipit faucibus urna.
              </p>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="В какой срок осуществляется доставка?">
            <ng-template ngbPanelContent>
              <p class="ps-3">
                Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
              </p>
              <ul>
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
              </ul>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="У вас обновляется ассортимент?">
            <ng-template ngbPanelContent>
              <p class="ps-3">
                Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                mauris vel est.
              </p>
              <p>
                Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.
              </p>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Какого объема у вас пачки чая?">
            <ng-template ngbPanelContent>
              <p class="ps-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis dolore doloremque
                eum
                omnis placeat possimus quam ullam velit voluptatum. Deserunt, est harum incidunt laborum
                necessitatibus placeat sunt vero voluptas?
              </p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </section>
</div>

<ng-template #popup let-modal>
  <div class="modal-header border-0">
    <h4 class="modal-title" id="modal-basic-title">Посмотрите наши чайные коллекции</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <a class="btn btn-lg btn-primary px-5 w-100" routerLink="/products" id="popup-catalog-link">Смотреть</a>
  </div>
  <div class="modal-footer border-0">
    <button type="button" class="btn btn-lg btn-secondary w-100" (click)="modal.close()">Закрыть</button>
  </div>
</ng-template>

