app-root {
  height: 100vh;
}

app-order,
app-product {
  flex: 1;
  display: flex;
  align-items: center;
}

.slide {
  width: 100%;
  min-height: 640px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow {
  transition: all 0.3s;
}

.ui-accordion-header-active.ui-state-active.accordion-title .arrow {
  transform: rotate(-180deg);
}

.accordion .accordion-item {
  border: 0;
}

.accordion-header .accordion-button,
.accordion-header .accordion-button:not(.collapsed) {
  background-color: rgb(13, 110, 253);
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  border-radius: 6px;
  margin-bottom: 16px;
}

.accordion-header .accordion-button:not(.collapsed) {
  margin-bottom: 0;
}

.accordion-header .accordion-button:focus {
  box-shadow: none;
}

.accordion-header .accordion-button.accordion-button::after {
  background-image: url("./assets/images/arrow-down.svg");
}

//.accordion-title::after {
//  position: absolute;
//  display: block;
//  width: 20px;
//  height: 16px;
//  right: 27px;
//  top: 50%;
//  transform: translateY(-50%);
//  content: "";
//  background-image: url("./assets/images/arrow-down.svg");
//  background-repeat: no-repeat;
//  background-size: var(--bs-accordion-btn-icon-width);
//  transition: all .3s;
//}

//.ui-accordion-header-active.ui-state-active.accordion-title::after {
//  transform: translateY(-50%) rotate(-180deg);
//}



/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

